<?xml version="1.0"?>
<!-- Start all nodes neccesary to create a map from a Gazebo world using Gmapping -->

<launch>
<!-- Set these arguments as required -->

<!-- Determine use of Rviz GUI -->
<arg name="use_rviz" default="true" />

<!-- Configure differential drive controller Gazebo plugin -->
<arg name="scanTopic" default="/udacity_bot/laser/scan" />
<arg name="odometryTopic" default="odom" />
<arg name="odometryFrame" default="odom" />
<arg name="robotBaseFrame" default="robot_footprint" />
<arg name="diff_drive_publishTf" default="true" />
<arg name="diff_drive_publishOdomTF" default="true" />
<!-- Configure ground truth odometry Gazebo plugin -->
<arg name="p3d_base_controller_enabled" default="false" />

<!-- Send URDF to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find udacity_bot)/urdf/udacity_bot.xacro'
                                           odometryTopic:=$(arg odometryTopic)
                                           odometryFrame:=$(arg odometryFrame)
                                           robotBaseFrame:=$(arg robotBaseFrame)
                                           diff_drive_publishTf:=$(arg diff_drive_publishTf)
                                           diff_drive_publishOdomTF:=$(arg diff_drive_publishOdomTF)
                                           p3d_base_controller_enabled:=$(arg p3d_base_controller_enabled)" />

  <arg name="world" default="$(find dumpster)/worlds/jackal_race.world"/>
  <!-- <arg name="world" default="empty"/> -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

<!-- Start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

<!-- Spawn a robot in Gazebo world-->
	<arg name= "pos_x" default = "0"/>
	<arg name= "pos_y" default = "0"/>
	<arg name= "pos_z" default = "0"/>
	<arg name= "yaw" default = "0"/>
	<arg name= "robot_name" default= "udacity_bot"/>
	<node name="urdf_robot_model_spawner" pkg="gazebo_ros" type="spawn_model"
	args="-param robot_description
	-urdf
	-x $(arg pos_x)
	-y $(arg pos_y)
	-z $(arg pos_z)
	-Y $(arg yaw)
	-model $(arg robot_name)"
	respawn="false" output="screen"/>

<!-- Send joint values from simulation -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- Start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

<!-- Run Rviz with configuration file -->
<node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find udacity_bot)/rviz/mapping.rviz"/>

<!-- Start Gmapping node for mapping the environment -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <remap from="scan" to="$(arg scanTopic)"/>
    <param name="base_link" value="$(arg robotBaseFrame)"/>
    <!-- map resolution expressed as size of every pixel in meters -->
    <param name="delta" value="0.1" />
  </node>

</launch>
